html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

.f-size12 {
  font-size: 12px;
}

.f-size16 {
  font-size: 16px;
}

.f-size38 {
  font-size: 38px;
}

.f-weight400 {
  font-weight: 400;
}

.f-weight700 {
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.align-center {
  align-items: center;
}

.main-wrap {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
  position: relative;
  border-radius: 0px 0px 12px 12px;
  margin: 0 auto;
}
.main-wrap__shadows {
  position: absolute;
  border-radius: 0px 0px 12px 12px;
  width: 100%;
  height: 10px;
}
.main-wrap__shadows-one {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background-color: #cacadb;
}
.main-wrap__shadows-two {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background-color: #e7e7f2;
}
.main-wrap-h {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.main-wrap__h {
  height: 100%;
}
.main-wrap__section {
  min-height: 100vh;
  position: relative;
  z-index: 100;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 38px;
}

.scroll-btn {
  border: none;
  background: transparent;
}
.scroll-btn img:last-child {
  display: none;
}
.scroll-btn:hover img:first-child {
  display: none;
}
.scroll-btn:hover img:last-child {
  display: inline-block;
}

.services {
  margin-top: 60px;
}
.services__btn {
  color: var(--active-regular, #24A3FF);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.services__btn:hover {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services h2 {
  font-size: 38px;
  font-weight: 700;
  align-self: stretch;
  color: white;
  margin-bottom: 30px;
  margin-top: 10px;
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-services h3 {
  color: var(--active-regular, #24A3FF);
  align-self: stretch;
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0 15px 0;
}
.section-services p {
  color: var(--basic-white, #FFF);
  align-self: stretch;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.section-services__items {
  padding: 15px 30px;
}
@media screen and (min-width: 576px) {
  .section-services__items {
    padding: 30px 30px;
  }
}

.section-blocks {
  margin-top: 60px;
}
.section-blocks__h {
  color: var(--main-regular, #323264);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blocks {
  margin-top: 30px;
}
.blocks__item {
  background: #1C4280;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.blocks__item:nth-child(2) {
  background: #143646;
}
.blocks__item:nth-child(3) {
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
}
.blocks__item:nth-child(4) {
  background: #9E4DC3;
}
.blocks__item:nth-child(5) {
  background: #FD9339;
}
.blocks__item:nth-child(6) {
  background: #E2E2E4;
}
.blocks__item:nth-child(7) {
  background: #C71C36;
}
.blocks__item:nth-child(8) {
  background: #DCF3F9;
}
.blocks__item:nth-child(9) {
  background: #EAEAEA;
}
.blocks__item:nth-child(10) {
  background: #282240;
}
.blocks__item:nth-child(11) {
  background: #1D4568;
}
.blocks__item:nth-child(12) {
  background: #000;
}

.header-wrap {
  padding: 5px;
  row-gap: 18px;
  display: grid;
  grid-template-areas: "address" "logo" "nav";
}
@media screen and (min-width: 768px) {
  .header-wrap {
    grid-template-areas: "logo address" "logo nav";
  }
}
.header-wrap__logo {
  grid-area: logo;
}
.header-wrap__address {
  grid-area: address;
}
.header-wrap__address-gap {
  gap: 12px;
}
.header-wrap__address__btn {
  border: none;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  justify-content: end;
  padding: 5px 7px;
  letter-spacing: 1px;
  color: white;
}
.header-wrap__address__btn.active, .header-wrap__address__btn:hover {
  background-color: red;
}
.header-wrap__nav {
  grid-area: nav;
}

.adress-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.adress-item:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
  display: inline-block;
  right: 6px;
}

.adress-item1 {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.adress-item1:before {
  display: none;
}
@media screen and (min-width: 576px) {
  .adress-item1:before {
    content: "";
    position: relative;
    height: 6px;
    width: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    display: inline-block;
    right: 6px;
  }
}

.navbar-expand-sm {
  display: block;
}

.active-link:visited {
  color: red;
  text-decoration: underline;
}

.nav-link {
  color: var(--active-regular, #24A3FF);
  text-align: center;
  border-radius: 12px;
  background: var(--grey-bg, #F5F5FA);
  font-weight: 700;
  font-size: 24px;
  padding: 7px 0;
}
.nav-link:hover {
  color: red;
}
@media screen and (min-width: 576px) {
  .nav-link {
    color: white;
    background: transparent;
    flex-wrap: nowrap;
    font-size: 16px;
  }
  .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: red;
  }
}

.navbar-toggler {
  color: transparent;
  border: none;
}

.navbar-toggler-icon {
  background-image: url(../assets/img/Hamburger.svg);
}

.text-center__btn {
  margin-bottom: 30px;
}

.offcanvas.offcanvas-bottom {
  height: 350px;
}

.navbar-brand {
  max-width: 100%;
}

body {
  font-family: Montserrat;
}

.f-size12 {
  font-size: 12px;
}

.f-size16 {
  font-size: 16px;
}

.f-size38 {
  font-size: 38px;
}

.f-weight400 {
  font-weight: 400;
}

.f-weight700 {
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.align-center {
  align-items: center;
}

.main-wrap {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
  position: relative;
  border-radius: 0px 0px 12px 12px;
  margin: 0 auto;
}
.main-wrap__shadows {
  position: absolute;
  border-radius: 0px 0px 12px 12px;
  width: 100%;
  height: 10px;
}
.main-wrap__shadows-one {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background-color: #cacadb;
}
.main-wrap__shadows-two {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background-color: #e7e7f2;
}
.main-wrap-h {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.main-wrap__h {
  height: 100%;
}
.main-wrap__section {
  min-height: 100vh;
  position: relative;
  z-index: 100;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 38px;
}

.scroll-btn {
  border: none;
  background: transparent;
}
.scroll-btn img:last-child {
  display: none;
}
.scroll-btn:hover img:first-child {
  display: none;
}
.scroll-btn:hover img:last-child {
  display: inline-block;
}

.services {
  margin-top: 60px;
}
.services__btn {
  color: var(--active-regular, #24A3FF);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.services__btn:hover {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services h2 {
  font-size: 38px;
  font-weight: 700;
  align-self: stretch;
  color: white;
  margin-bottom: 30px;
  margin-top: 10px;
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-services h3 {
  color: var(--active-regular, #24A3FF);
  align-self: stretch;
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0 15px 0;
}
.section-services p {
  color: var(--basic-white, #FFF);
  align-self: stretch;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.section-services__items {
  padding: 15px 30px;
}
@media screen and (min-width: 576px) {
  .section-services__items {
    padding: 30px 30px;
  }
}

.section-blocks {
  margin-top: 60px;
}
.section-blocks__h {
  color: var(--main-regular, #323264);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blocks {
  margin-top: 30px;
}
.blocks__item {
  background: #1C4280;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.blocks__item:nth-child(2) {
  background: #143646;
}
.blocks__item:nth-child(3) {
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
}
.blocks__item:nth-child(4) {
  background: #9E4DC3;
}
.blocks__item:nth-child(5) {
  background: #FD9339;
}
.blocks__item:nth-child(6) {
  background: #E2E2E4;
}
.blocks__item:nth-child(7) {
  background: #C71C36;
}
.blocks__item:nth-child(8) {
  background: #DCF3F9;
}
.blocks__item:nth-child(9) {
  background: #EAEAEA;
}
.blocks__item:nth-child(10) {
  background: #282240;
}
.blocks__item:nth-child(11) {
  background: #1D4568;
}
.blocks__item:nth-child(12) {
  background: #000;
}

.carousel-main {
  display: grid;
  grid-template-areas: "buttons" "text";
  grid-template-columns: 100%;
}
@media screen and (min-width: 768px) {
  .carousel-main {
    grid-template-areas: "buttons text";
    grid-template-columns: max-content 1fr;
    align-items: center;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  padding: 0 30px 30px 30px;
  margin-top: 60px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .buttons {
    padding-right: 5px;
    border-bottom: none;
    border-right: 3px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
  }
}
@media screen and (min-width: 910px) {
  .buttons {
    padding-right: 60px;
  }
}
.buttons_btn {
  border: none;
  background: none;
  display: flex;
  justify-content: end;
  color: var(--grey-text, #B3B3BA);
  white-space: nowrap;
  font-size: 38px;
  font-weight: 700;
  width: auto;
  text-align: right;
}
.buttons_btn:hover, .buttons_btn:visited {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-inner__txt {
  align-items: center;
  padding: 30px 5px 0 5px;
}
.carousel-inner__txt p {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .carousel-inner__txt {
    padding: 60px 0 0 5px;
  }
}
@media screen and (min-width: 910px) {
  .carousel-inner__txt {
    padding: 60px 0 0 60px;
  }
}

.carousel-indicators.carousel-indicators__style [data-bs-target] {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--active-regular, #24A3FF);
}

.carousel-indicators.carousel-indicators__style {
  margin-top: 30px;
  position: unset;
}

.carousel-item__block {
  background-color: rgb(230, 230, 230);
  display: block;
}
.carousel-item__content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  margin-bottom: 0;
}
.carousel-item__content-p {
  font-size: 38px;
  font-weight: 700;
  color: var(--grey-text, #B3B3BA);
  padding-bottom: 30px;
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-item__content-p2 {
  color: var(--grey-text, #B3B3BA);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.carousel-item__content a {
  color: var(--active-regular, #24A3FF);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.carousel-item__link {
  width: 12px;
}
.carousel-item__block {
  display: flex;
  flex-wrap: wrap;
}
.carousel-item__block > div > img {
  width: 100%;
  height: 100%;
  width: 400px;
  border-radius: 12px 0px 0px 12px;
}

.carousel-gorizont {
  margin-top: 60px;
}

.wrap {
  display: grid;
  grid-template-areas: "block1" "block2" "block3";
}
@media screen and (min-width: 576px) {
  .wrap {
    grid-template-areas: "block1 block2" "block3 block3";
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .wrap {
    grid-template-areas: "block1 block2 block3";
    gap: 30px;
  }
}
.wrap__block1, .wrap__block2, .wrap__block3 {
  display: flex;
  flex-direction: column;
  grid-area: block1;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
  background-color: white;
}
.wrap__block1-img, .wrap__block2-img, .wrap__block3-img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap__block1-hr, .wrap__block2-hr, .wrap__block3-hr {
  height: 4px;
  background: var(--grey-separator, #E6E6F0);
  margin: 30px 0 30px;
}
.wrap__block1-txt, .wrap__block2-txt, .wrap__block3-txt {
  margin: 30px;
  height: auto;
}
.wrap__block1 h4, .wrap__block2 h4, .wrap__block3 h4 {
  color: var(--active-regular, #24A3FF);
  font-size: 16px;
  font-weight: 700;
}
.wrap__block1 h5, .wrap__block2 h5, .wrap__block3 h5 {
  color: var(--grey-text, #B3B3BA);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.wrap__block1 p, .wrap__block2 p, .wrap__block3 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.wrap__block2 {
  grid-area: block2;
}
.wrap__block3 {
  grid-area: block3;
}

.section-footer {
  background: var(--grey-bg, #F5F5FA);
  margin-top: 60px;
  padding-bottom: 30px;
}
.section-footer__title {
  padding: 30px 0 30px 0;
}
.section-footer a {
  color: var(--active-regular, #24A3FF);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-footer h3 {
  font-size: 38px;
  font-weight: 700;
  color: var(--grey-text, #B3B3BA);
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}
.footer__p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__autor {
    display: contents;
  }
}

.footer {
  display: grid;
  display: none;
  text-align: center;
  padding: 0 0 30px;
}
.footer__phone {
  color: var(--main-alt, #46466E);
  font-size: 16px;
  font-weight: 700;
}
.footer__autor {
  color: var(--grey-text, #B3B3BA);
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-areas: "block11 block12" "block13 block12";
    display: contents;
  }
}
.footer_block11 {
  grid-area: block11;
}
.footer_block12 {
  grid-area: block12;
  text-align: end;
}
.footer_block13 {
  grid-area: block13;
}

.footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer2 {
    display: none;
  }
}

.section-footer__2 {
  background: white;
  margin-top: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .section-footer__2 {
    background: var(--grey-bg, #F5F5FA);
  }
}
.section-footer__2__title {
  padding: 30px 0 30px 0;
}
.section-footer__2 a {
  color: var(--active-regular, #24A3FF);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-footer__2 h3 {
  font-size: 38px;
  font-weight: 700;
  color: var(--grey-text, #B3B3BA);
}
.section-footer__2 h3:hover {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}