@import "common-styles";

.carousel-wrap {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
  position: relative;
}

.carousel-main {
  display: grid;
  grid-template-areas: "buttons" "text";
  grid-template-columns: 100%;

  @media screen and (min-width: 768px) {
    grid-template-areas: "buttons text";
    grid-template-columns: max-content 1fr;
    align-items: center;
  }
}

.carousel-indicators__style {
  position: static;
  // flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  border-bottom: 3px solid rgba(255, 255, 255, 0.30);
  padding: 0 30px 30px 30px;
  margin-top: 60px;
  gap: 30px;


  @media screen and (min-width: 768px) {
    padding-right: 5px;
    border-bottom: none;
    border-right: 3px solid rgba(255, 255, 255, 0.30);
    flex-direction: column;
  }

  @media screen and (min-width: 910px) {
    padding-right: 60px;
  }


  &_btn {
    border: none;
    background: none;
    display: flex;
    justify-content: end;
    color: var(--grey-text, #B3B3BA);
    white-space: nowrap;
    font-size: 38px;
    font-weight: 700;
    width: auto;
    text-align: right;

    &:hover {
      background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}

.carousel-inner__txt {
  align-items: center;
  padding: 30px 5px 0 5px;

  p {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    padding: 60px 0 0 5px;
  }

  @media screen and (min-width: 910px) {
    padding: 60px 0 0 60px;
  }
}