$bottom-radius: 0px 0px 12px 12px;
$grey-1: #cacadb;
$grey-2: #e7e7f2;
$grey-3: #E6E6F0;
$md: 768px;
$sm: 576px;
$blue: var(--active-regular, #24A3FF);
$white: var(--basic-white, #FFF);

body {
  font-family: Montserrat;
}

.f-size12 {
  font-size: 12px;
}

.f-size16 {
  font-size: 16px;
}

.f-size38 {
  font-size: 38px;
}

.f-weight400 {
  font-weight: 400;
}

.f-weight700 {
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.align-center {
  align-items: center;
}

.main-wrap {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
  position: relative;
  border-radius: $bottom-radius;
  margin: 0 auto;

  &__shadows {
    position: absolute;

    border-radius: $bottom-radius;
    width: 100%;
    height: 10px;

    &-one {
      bottom: -10px;
      width: calc(100% - 40px);
      left: 20px;
      background-color: $grey-1;
    }

    &-two {
      bottom: -20px;
      width: calc(100% - 80px);
      left: 40px;
      background-color: $grey-2;
    }
  }

  &-h {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  &__h {
    height: 100%;
  }

  &__section {
    min-height: 100vh;
    position: relative;
    z-index: 100;
  }
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 38px;
}

.scroll-btn {
  border: none;
  background: transparent;

  img:last-child {
    display: none;
  }

  &:hover {
    img:first-child {
      display: none;
    }

    img:last-child {
      display: inline-block;
    }
  }
}

.services {
  margin-top: 60px;

  &__btn {
    color: var(--active-regular, #24A3FF);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h2 {
    font-size: 38px;
    font-weight: 700;
    align-self: stretch;
    color: white;
    margin-bottom: 30px;
    margin-top: 10px;
    background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.section-services {
  h3 {
    color: $blue;
    align-self: stretch;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 15px 0;
  }

  p {
    color: $white;
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  &__items {
    padding: 15px 30px;

    @media screen and (min-width: $sm) {
      padding: 30px 30px;
    }
  }
}

.section-blocks {
  margin-top: 60px;

  &__h {
    color: var(--main-regular, #323264);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.blocks {
  margin-top: 30px;

  &__item {
    background: #1C4280;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      background: #143646;
    }

    &:nth-child(3) {
      background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
    }

    &:nth-child(4) {
      background: #9E4DC3;
    }

    &:nth-child(5) {
      background: #FD9339;
    }

    &:nth-child(6) {
      background: #E2E2E4;
    }

    &:nth-child(7) {
      background: #C71C36;
    }

    &:nth-child(8) {
      background: #DCF3F9;
    }

    &:nth-child(9) {
      background: #EAEAEA;
    }

    &:nth-child(10) {
      background: #282240;
    }

    &:nth-child(11) {
      background: #1D4568;
    }

    &:nth-child(12) {
      background: #000;
    }
  }
}