.section-footer__2 {
  background: white;
  margin-top: 60px;
  padding-bottom: 30px;
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    background: var(--grey-bg, #F5F5FA);
  }

  &__title {
    padding: 30px 0 30px 0;
  }

  a {
    color: var(--active-regular, #24A3FF);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 38px;
    font-weight: 700;
    color: var(--grey-text, #B3B3BA);

    &:hover {
      background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}